.menu{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10rem;
}

.menu-title{
    font-family: 'Orbitron', sans-serif;
    font-size: 4rem;
    position: relative;
    top: 3rem;
}

.menu-container{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    overflow-x: auto;
    white-space: nowrap;
    // border: 2px solid white;
    height: 40rem;
    position: relative;
    bottom: 2rem;
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;  
}

.menu-container::-webkit-scrollbar {
    display: none;               /* Chrome, Safari, and Edge (WebKit) */
}

.menu-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    min-width: 20rem;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
    background-color: rgba(77, 123, 170, 0.8);
    border: 5px solid #003366;
    border-radius: 3rem;
}