.menu{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10rem;
}

.menu-title{
    font-family: 'Orbitron', sans-serif;
    font-size: 4rem;
    position: relative;
    top: 3rem;
}

.menu-container{
    display: flex;
    flex-direction: row;
    font-family: 'Orbitron', sans-serif;
    gap: 4rem;
    overflow-x: auto;
    white-space: nowrap;
    // border: 2px solid white;
    height: 40rem;
    position: relative;
    bottom: 2rem;
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;  
}

.menu-container::-webkit-scrollbar {
    display: none;               /* Chrome, Safari, and Edge (WebKit) */
}

.menu-format{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
    gap: 13rem;
    min-width: 22rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(77, 123, 170, 0.8);
    border: 5px solid #003366;
    border-radius: 3rem;
    transform: scaleY(0);
}

.menu-format h3{
    position: relative;
    right: 7rem;
}


@media (max-width: 90rem) {
    .menu {
        gap: 8rem;
        padding: 0 3rem;
        align-items: center;
    }

    .menu-title {
        font-size: 3.2rem;

        left: 1rem;
        text-align: left;
    }

    .menu-container {
        gap: 3rem;
        height: 32rem;
        width: 100%;
        top: -1rem;
    }

    .menu-format {
        gap: 10rem;
        min-width: 21rem;
        padding: 2rem 1.5rem;
        border-width: 4px;
    }

    .menu-format h3 {
        font-size: 1.3rem;
        margin-left: 0;
    }

    .menu-format h2 {
        font-size: 1.5rem;
    }

    .services-readmore button {
        font-size: 1.2rem;
        padding: 1rem 2rem;
    }
}

@media(max-width: 48rem){
    .menu {
        align-items: center;
        gap: 6rem;
        padding: 0 1rem;
        justify-content: center;
        align-items: flex-start;
    }

    .menu-title {
        font-size: 2.5rem;
        text-align: center;
        top: 0rem;
        left: .5rem;
    }

    .menu-container {
        gap: 2rem;
        height: 26rem;
        top: -1rem;
        width: 20rem;
    }

    .menu-format {
        gap: 7rem;
        min-width: 20rem;
        padding: 1.5rem 1rem;
        border-width: 3px;
    }

    .menu-format h3 {
        font-size: 1.3rem;
        right: 0;
        margin-left: 1rem;
        text-align: left;
    }

    .menu-format h2 {
        font-size: 1.6rem;
    }

    .services-readmore button {
        font-size: 1.2rem;
        padding: 0.8rem 1.6rem;
    }
}