*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html{
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Poppins", sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.go-back-button {
  display: flex;
  gap: 4rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 2;
  background-color: rgba(77, 123, 170, 0.8);
  border: 5px solid #003366;
  border-radius: 3rem;
  padding: .5rem 2rem;
}

.go-back-button img{
  transform: rotateY(180deg);
  width: 5rem;
  height: 5rem;
}

.ui-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 4rem;
  justify-content: flex-start; /* Push content to the bottom */
  min-height: 0vh; /* Full viewport height */
  position: relative;
  top: 22rem;
  z-index: 2;
  width: 100%;
}

.title {
  color: white;
  font-size: 3rem;
  left: 50%;
  top: 75%;
  font-family: 'Orbitron', sans-serif;
}

.title-container {
  background-color: rgba(77, 123, 170, 0.8);
  padding: 3rem;
  position: relative;
  display: inline-block;
  border: 5px solid #003366;
  border-radius: 3rem;
}

.map-button {
    background-color: rgba(77, 123, 170, 0.8);
    padding: 1rem;
    position: relative;
    display: inline-block;
    border: 5px solid #003366;
    border-radius: 3rem;
    bottom: 1rem;
}

.map-button img{
    width: 5rem;
}

.map-wrapper {
  height: 0vh;
  z-index: 2;
  position: relative;
  top: 5rem;
  max-width: 50%;
  margin: 0 auto;
}

.map-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0;
  max-width: 100%; 
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
  align-items: center;
}

/* .scene{
  background-color: grey;
} */