*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html{
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.ui-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 4rem;
  justify-content: flex-start; /* Push content to the bottom */
  min-height: 90vh; /* Full viewport height */
  position: relative;
}

.title {
  color: white;
  z-index: 2;
  font-size: 3rem;
  left: 50%;
  top: 75%;
  font-family: 'Orbitron', sans-serif;
}

.title-container {
  background-color: rgba(77, 123, 170, 0.8);
  padding: 3rem;
  position: relative;
  z-index: 2;
  display: inline-block;
  min-width: 100%;
  border: 5px solid #003366;
  border-radius: 3rem;
}

.map-button {
    background-color: rgba(77, 123, 170, 0.8);
    padding: 1rem;
    position: relative;
    z-index: 2;
    display: inline-block;
    border: 5px solid #003366;
    border-radius: 3rem;
    bottom: 1rem;
}

.map-button img{
    width: 5rem;
}

.map-wrapper {
  height: 100vh; /* or any fixed value */
}

/* .scene{
  background-color: grey;
} */