.enter {
    color: white;
    background-color: rgba(77, 123, 170, 0.8);
    position: relative;
    top: 20rem;
    align-items: center;
    display: inline-block;
    border: 5px solid #003366;
    border-radius: 3rem;
    z-index: 1;
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    transform-origin: center;
    transform: scaleX(0);
}

.enter p{
    opacity: 0;
    font-size: 3rem;
    font-family: 'Orbitron', sans-serif;
}

@media(max-width: 48rem){
    .enter{
        top: 8rem;
        padding: 1rem 2rem;
    }
}

@media (max-width: 90rem) {
    .enter{
        top: 16rem;
        padding: 1rem 2rem;
    }
}